<div class="page-header">
  <h1> Upcoming Check-ins </h1>
</div>

<%=
# @relationships.each do |relationship|
#   if relationship.date_of_checkin < (Date.today - 1)
    render "card"
#   end
# end
%>

<div class="page-header">
  <h1> Overdue Check-ins </h1>
</div>
