<div class="page-header">
  <h1> Upcoming Check-ins </h1>
</div>

<div class="row isotope-container">
  <% @relationships.each do |relationship| %>

  <% if relationship.next_checkin.present? %>
  <% @dates = Date.today..Date.today + 14.days %>

  <% if relationship.user_id == current_user.id && @dates.include?(relationship.next_checkin)%>
  <%= render "card", :relationship => relationship %>
  <% end %>
  <% end %>
  <% end %>
</div>

<div class="page-header">
  <h1> Overdue Check-ins </h1>
</div>

<div class="row isotope-container">
  <% @relationships.each do |relationship| %>

  <% if relationship.next_checkin.present? %>

  <% if relationship.user_id == current_user.id && relationship.next_checkin < Date.today %>
  <%= render "card", :relationship => relationship %>
  <% end %>
  <% end %>
  <% end %>

</div>
